<!DOCTYPE html>
<html>
  <head>
    <title>teste</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Estudantes</h1>
    <hr>
    <%
      let estudantes = [
        {nome: 'Lucas', curso: 'FS Blend', email: 'lucas@mail.com' },
        {nome: 'Hendy', curso: 'FS Blend', email: 'hend@mail.com'}
      ];
    %>

    <ul>
      <% for (let estudante of estudantes) { %>
          <li>"Olá. Sou <%= estudante.nome %> e estou no curso de <%= estudante.curso %>. Meu email é <%= estudante.email %></li>
      <% } %>
    </ul>






  </body>
</html>
